
/* https://coolors.co/52796f-354f52-2f3e46-e8f0b0-cfe15a  -- pear color and matches */

body {
    margin: 0;
    padding:0;
}

header {
    /* height: 200px; */
    background-color: #354F52;
    display: grid;
    margin-top:auto;
    grid-template-columns: 150px auto;
}

header h1 {
    color: #E8F0B0;
    font-size: 50px;
    grid-column: 2 / -1;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

nav a {
    color: #DAD6FF;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0.83em 0px;
    padding: 10px;
    min-width: 120px;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;

    
}


nav a:hover {
    /* background-color: #2B9EB5; */
    /* height: 100%; */
    color: #3DC0C2;
}



.tennis-courts {
    display: grid;
    grid-template-columns: repeat(3, 20px 1fr) 20px ;
    
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.court-one {
grid-column: 2 / 3;
grid-row: 2/5;
background-color: #52796F;
}
.court-two {
grid-column: 4 / 5 ;
grid-row: 2 / 5;
background-color: #52796F;
}
.court-three {
grid-column: 6/7;
grid-row: 2 / 5;
background-color: #52796F;
}




#content {
    background-color: lightgray;
    border: 1px solid black;
    max-width: 1600px;
    margin: 0 auto;

}


#logo {
    width: 100%;
    padding: 10px;
}




